.ipynb_checkpoints/
__pycache__/
*.swp
echonet.cfg
.echonet.cfg
*.pyc
echonet.egg-info/
echonet/output/

env/

build/

scripts/.Rhistory
.vscode/

multimodalecho/multimodalecho.cfg
multimodalecho/multimodalecho.egg-info/
multimodalecho/output/
multimodalecho/output_CL/
multimodalecho/plots/
multimodalecho/plots_CL/
multimodalecho/tensorboard/
multimodalecho/pretrainedModels/

pretrainedModels/

multimodalecho/config.yaml
multimodalecho/lsf.*
